body{
    background-color: #ffffff;
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 10em auto;
	display: flex;
}
.company__info{
	background-color: #5e5e5e;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#363636;
    padding-top: 0.8em;
}
.login_form{
	background-color: #f3f3f3;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #818181;
	border-right:1px solid #818181;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 5px;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #8d8d8d;
	box-shadow: 0 0 5px rgba(99, 99, 99, 0.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#3b3b3b;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #141414;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #777777;
	color:#fff;
}